@using LifeGoals.Dbmanagement
@using LifeGoals.PageObjects
@model LifeGoals.PageObjects.GoalAndStatusObjects
@{
    var ajaxUpdate = "OneGoal" + Model.GoalObjects.Id;
    var user = UserManagement.GetUser(Model.GoalObjects.User);
    
    var form = "formGoalUpdate";

}


<div name="goalUpdate" id="@ajaxUpdate">
    <div class="goal" >
        <div class="goalUser">
            <img class="profileMiniImage" src="@user.Imag" alt="">
            <a>@user.Nickname</a>
                        
        </div>
        
        <form style="display: none" id="@ajaxUpdate@form" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#@ajaxUpdate" data-ajax-mode='replace' data-ajax-url="@Url.Action("Goal", "AjaxDataUpdate")">
            <input style="display: none" name="goalId" value="@Model.GoalObjects.Id"/>
        </form>       
        
        <div class="goalInf">
                        
           
            <div>
                <div class="goalTitle">
                    <a>@Model.GoalObjects.Titles</a>
                    @if (Model.GoalObjects.StageImplementation == EGoalStageImplementation.created)
                    {
                        <img class="miniGoalStatus" src="/img/X.png">
                    }
                    else if (Model.GoalObjects.StageImplementation == EGoalStageImplementation.startedDoing)
                    {
                        <img class="miniGoalStatus" src="/img/time.png">
                    }
                    else if (Model.GoalObjects.StageImplementation == EGoalStageImplementation.isDone)
                    {
                        <img class="miniGoalStatus" src="/img/check.png">            
                    }
                    
                    <a>
                        
                        @if (Model.GoalObjects.Important==false )
                        {
                            @if(Model.PageStatus == EPageStatus.Owner)
                            {
                                <button class="iconButton ImportantButton" id="ImportantButton" type="submit" onclick="DoImportant(@Model.GoalObjects.Id,true,'@ajaxUpdate@form')">
                                    <svg aria-hidden="true" focusable="false" class="goalStar">
                                        <use xlink:href="#stars-empty-star"/>
                                    </svg>
                                </button>  
                            }
                            
                        }
                        else
                        {
                            @if (Model.PageStatus == EPageStatus.Owner)
                            {
                                <button class="iconButton ImportantButton" type="submit" onclick="DoImportant(@Model.GoalObjects.Id,false,'@ajaxUpdate@form')">
                                
                                    <svg aria-hidden="true" focusable="false" class="goalStar">
                                        <use xlink:href="#stars-full-star"/>
                                    </svg>
                                </button>
                                
                            }
                            else
                            {
                                <svg aria-hidden="true" focusable="false" class="goalStar ImportantSvg">
                                    <use xlink:href="#stars-full-star"/>
                                </svg>    
                            }
                            
                        }
                        
                   </a> 
                          
                </div>
                            
            </div>
            
            
            <div class="goal_description" >@Html.Raw(Model.GoalObjects.Body)</div>
                        
        </div>
                   
        <div>
            
            @if (Model.GoalObjects.IsDonate)
            { 
                @(await Html.PartialAsync("Profile/CurrencyProgress", Model.GoalObjects))
            }
            
            
            @if (Model.PageStatus== EPageStatus.Owner)
            {
                <partial name="Profile/GetgoalPointsStatus" model="Model.GoalObjects"/>
            }
            

        </div>
       
        
    </div>
</div>