@using LifeGoals.Dbmanagement
@model GoalObjects
@{
    var ajaxUpdate = "OneGoal" + Model.Id;
    var user = UserManagement.GetUser(Model.User);

    
    var form = "formGoalUpdate";

}


<div name="goalUpdate" id="@ajaxUpdate">
    <div class="goal" >
        <div class="goalUser">
            <img class="profileMiniImage" src="@user.Imag" alt="">
            <a>@user.Nickname</a>
                        
        </div>
        
        <form style="display: none" id="@ajaxUpdate@form" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#@ajaxUpdate" data-ajax-mode='replace' data-ajax-url="@Url.Action("Goal", "Home")">
            <input style="display: none" name="goalId" value="@Model.Id"/>
        </form>       
        
        <div class="goalInf">
                        
           
            <div>
                <div class="goalTitle">
                    <a>@Model.Titles</a>
                    @if (Model.StageImplementation == EGoalStageImplementation.created)
                    {
                        <img class="miniGoalStatus" src="/img/X.png">
                    }
                    else if (Model.StageImplementation == EGoalStageImplementation.startedDoing)
                    {
                        <img class="miniGoalStatus" src="/img/time.png">
                    }
                    else if (Model.StageImplementation == EGoalStageImplementation.isDone)
                    {
                        <img class="miniGoalStatus" src="/img/check.png">            
                    }
                    
                    <a>

                        
                        @if (Model.Important==false)
                        {
                            
                            <button class="iconButton ImportantButton" id="ImportantButton" type="submit" onclick="DoImportant(@Model.Id,true,'@ajaxUpdate@form')">
                                <svg aria-hidden="true" focusable="false" class="goalStar">
                                    <use xlink:href="#stars-empty-star"/>
                                </svg>
                            </button>
                            
                        }
                        else
                        {
                          
                            <button class="iconButton ImportantButton" type="submit" onclick="DoImportant(@Model.Id,false,'@ajaxUpdate@form')">
                                
                                <svg aria-hidden="true" focusable="false" class="goalStar">
                                    <use xlink:href="#stars-full-star"/>
                                </svg>
                            </button>
                      
                            
                            <svg aria-hidden="true" focusable="false" class="goalStar ImportantSvg hidden">
                                <use xlink:href="#stars-full-star"/>
                            </svg>
                        }
                        
                        
                    
                  
                   </a> 
                          
                </div>
                            
            </div>
            
            
            <div class="goal_description" >@Html.Raw(Model.Body)</div>
                        
        </div>
                   
        <div>
            
          @if (Model.IsDonate)
          {
             
             @(await Html.PartialAsync("Profile/CurrencyProgress", Model))
             
              
            
          }
            
            
            
            <partial name="Profile/GetgoalPointsStatus" model="Model"/>

        </div>
       
        
    </div>
</div>