@using LifeGoals.Dbmanagement
@model string
@{
    var importantGoals = Goals.GetAllImportantGoals(Model);
}
<div id="goalsLine">
    <form method="get" id="goalsLineForm" data-ajax="true" data-ajax-method="get" data-ajax-update="#goalsLine" data-ajax-mode='replace' data-ajax-url="@Url.Action("GoalLineUpdate", "Home")">
                                       
       
        <div class="points">
                 
                   
            @foreach(var goal in importantGoals)
            {
                <div class="point">
                    <div class="descr">
                   
                        @if (goal.Titles.Length>30)
                        {
                           <a>@goal.Titles.Replace("<br>",default).Substring(0,30)...</a>
                    
                        }
                        else
                        {
                           <a>@goal.Titles.Replace("<br>",default)</a>
                        } 
                        
                        <br>
                        @if (goal.Body!=default)
                        {
                            @if (goal.Body.Length>80)
                            {
                                <div class="goal_description">@goal.Body.Replace("<br>",default).Substring(0,80)...</div>
                            }
                            else
                            {
                                <div class="goal_description">@goal.Body.Replace("<br>",default)</div>
                            } 
                        }
                      
                        
                    </div>
                </div>
            }
                     
                 
                 
                           
        </div>
        <svg class="goalsLine">
           <line x1="0.5%" x2="99.5%" y1="10%" y2="10%" stroke="black" stroke-width="8" stroke-linecap="round"></line>
        </svg>
                     
                     
        <input style="display: none" name="userId" value="@Model"/>             

    </form>
</div>