@using LifeGoals.Dbmanagement
@using System.Security.Claims

@model string
@{
    string userId = default;
    
    
    
    var user= UserManagement.GetUser(Model);
    if (user.Background == "non")
        user.Background = UserManagement.StandardUserBackground;
    if (user.Imag == "non")
        user.Imag = UserManagement.StandardUserImage;
}
<script>SetBackground("@user.Background");</script>
<div class="profileAllInfo">
    
    <div class="profileLeft">

        <img class="profileImage" src="@user.Imag" alt="">
        <div>
            <span class="profileName">@user.Nickname</span>

        </div>





        <button class="btn rounded-root btn-purple btn-Edit-Profile hidden" id="settingsProfile"
                onclick="document.location='/home/Settings'" content="edit">Edit profile</button>
        


    </div>

    <div class="profileInfoRight">


        <div class="infoGrid">

            @if (user.Description.Length>1075)
            {
                <div class="labeled">Description: @user.Description.Substring(0,1075)...</div>  
            }
            else
            {
                <div class="labeled">Description: @user.Description</div> 
            }
            

        </div>

    </div>
</div>